{% extends 'travelers_dream/base.html' %}

{% block title %}
    Клиенты
{% endblock %}
{% block content_admin %}
    {% if employee_now.position.name != 'Бухгалтер' %}
        <h1 class="mb-4">Клиенты</h1>
        
        <div class="d-flex flex-wrap">
        {% if clients %}
            {% for el in clients %}
                    <div class="alert alert-dismissible alert-light  block-size m-2">
                        <div class="col-10">
                            <h5>{{ el.fio }}</h5>
                            <p>
                                {{ el.status }}
                            </p>
                        </div>
                            <a href="/client/{{ el.id }}" class="btn bg-edit">Редактировать</a>
    {#                        {% if el.international_passport %}#}
    {#                            <a href="/client/{{ el.id }}" class="btn btn-primary">Изменить загранпаспорт</a>#}
    {#                        {% else %}#}
    {#                            <a href="/client/{{ el.id }}" class="btn btn-primary">Добавить загранпаспорт</a>#}
    {#                        {% endif %}#}
                    </div>
            {% endfor %}
        {% else %}
            <p>Нет ни одного клиента</p>
        {% endif %}
    </div>
    {% endif %}

    <a class="btn bg-gradient mt-3 mb-5" href="{% url 'createClient' %}">Добавить клиента</a>
{% endblock %}
