{% extends 'travelers_dream/base.html' %}

{% block title %}
    Добавление сотрудника
{% endblock %}

{% block content_admin %}
    {% if request.user.is_superuser %}
        <div class="d-flex flex-column-reverse flex-md-row justify-content-between">
            <h1 class="mb-4">Добавление сотрудника</h1>
            <div class="mb-3 mb-md-0"><a class="btn bg-gradient btn-sm" href="{% url 'employees' %}">Назад</a></div>
        </div>

            {% if error != '' %}
            <div class="alert alert-dismissible alert-danger">
                <strong>{{ error }}</strong>
                {{ form.non_form_errors }}
            </div>
            {% endif %}
                <form method="post" class="d-flex flex-wrap">
                    {% csrf_token %}
                    <div class="form-size m-2">
                        <label for="initials"  class="form-label">Имя</label>
                        <input type="text" placeholder="Фамилия И.О." name="initials" id="initials" value="{{ init.initials }}" required class="mb-3 form-control">
                    </div>
                   <div class="form-size m-2">
                        <label for="fio" class="form-label">ФИО</label>
                        <input type="text" placeholder="ФИО" name="fio" id="fio" value="{{ init.fio }}" required class="mb-3 form-control">
                   </div>
                    <div class="form-size m-2">
                        <label for="dob" class="form-label">Дата рождения</label>
                        <input type="date" name="dob" id="dob" value="{{ init.dob|date:"Y-m-d" }}" class="mb-3 form-control">
                    </div>
                   <div class="form-size m-2">
                        <label for="photo" class="form-label">Фото</label>
                        <input type="text" placeholder="ссылка на фотографию" name="photo" id="photo" class="mb-3 form-control">
                   </div>
                    <div class="form-size m-2">
                        <label for="position" class="form-label">Должность</label>
                        <select class="form-select mb-3" id="position" name="position">
                            {% for el in positions %}
                                {% if el.name != "Администратор" %}
                                    <option {% if el == init.position %} selected {% endif %} value="{{ el.id }}">
                                        {{ el.name }}
                                    </option>
                                {% endif %}
                            {% endfor %}
                    </select>
                    </div>
                    <div class="form-size m-2">
                        <label for="organization" class="form-label">Филиал</label>
                        <select class="form-select mb-3" id="organization" name="organization">
                            {% for el in organizations %}
                                <option value="{{ el.id }}">
                                    {{ el.name }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    {% if error == 'Сотрудник с такими же данными уже существует. Выберите филиал и повторите отправку данных, если всё же хотите внести его в базу' %}
                        <input type="hidden" name="double" value="no">
                    {% endif %}
                    <button type="submit" class="btn bg-gradient">Добавить</button>
                </form>
   {% endif %}
{% endblock %}