{% extends 'travelers_dream/base.html' %}

{% block title %}
    Добавление клиента
{% endblock %}
{% block content_admin %}
    {% if employee_now.position.name != 'Бухгалтер' %}
    <div class="d-flex flex-column-reverse flex-md-row justify-content-between">
        <h1 class="mb-4">Добавить клиента</h1>
        <div class="mb-3 mb-md-0"><a class="btn bg-gradient btn-sm" href="{% url 'clients' %}">Назад</a></div>
    </div>
        <div class="row">
            <div class="col-6">
            {% if error != '' %}
            <div class="alert alert-dismissible alert-danger">
                <strong>{{ error }}</strong>
            </div>
            {% endif %}
                <form method="post" class="d-flex flex-wrap">
                    {% csrf_token %}
                    <div class="form-size m-2">
                        <label for="fio" class="form-label">ФИО</label>
                        <input type="text" placeholder="ФИО" name="fio" id="fio" required class="mb-3 form-control">
                    </div>
                    <div class="form-size m-2">
                        <label for="status" class="form-label">Статус</label>
                        <select class="form-select mb-3" id="status" name="status">
                            {% for el in statuses %}
                                <option value="{{ el.id }}">
                                    {{ el }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <ul class="nav nav-tabs w-100">
                        <li class="nav-item">
                            <a class="nav-link active" data-bs-toggle="tab" href="#main">Основные</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#passport">Паспортные данные</a>
                        </li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane active" id="main">
                            <label for="gender" class="form-label">Пол</label>
                            <select class="form-select mb-3" id="gender" name="gender">
                                    <option value="М">Мужской</option>
                                    <option value="Ж">Женский</option>
                            </select>
                            <label for="dob" class="form-label">Дата рождения</label>
                            <input type="date" name="dob" id="dob" class="mb-3 form-control" required><br>
                            <label for="place" class="form-label">Место рождения</label>
                            <input type="text" placeholder="Место рождения" name="place" id="place" required class="mb-3 form-control"><br>
                        </div>
                        <div class="tab-pane fade" id="passport">
                            <label for="passport_series" class="form-label">Серия</label>
                            <input type="number" name="passport_series" id="passport_series" class="mb-3 form-control"><br>
                            <label for="passport_number" class="form-label">Номер</label>
                            <input type="number" name="passport_number" id="passport_number" class="mb-3 form-control"><br>
                            <label for="date_issue" class="form-label">Дата выдачи</label>
                            <input type="date" name="date_issue" id="date_issue" class="mb-3 form-control">
                            <label for="date_end" class="form-label">Дата окончания срока действия</label>
                            <input type="date" name="date_end" id="date_end" class="mb-3 form-control">
                            <label for="issued_by" class="form-label">Орган, выдавший документ</label>
                            <input type="text" placeholder="Орган, выдавший документ" name="issued_by" id="issued_by" class="mb-3 form-control"><br>
                            <label for="birth_certificate" class="form-label">Номер свидетельства о рождении (при отсутствии паспорта)</label>
                            <input type="text" placeholder="Номер свидетельства о рождении" name="birth_certificate" id="birth_certificate"class="mb-3 form-control"><br>
                        </div>
                        <button type="submit" class="btn bg-gradient mb-5">Добавить</button>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}