{% extends 'travelers_dream/base.html' %}

{% block title %}
    Оплаты
{% endblock %}
{% block content_admin %}
<h1 class="mb-4">Список договоров на оплату</h1>

<div class="d-flex flex-wrap">
{% if contract %}
    {% for el in contract %}
            <div class="alert alert-dismissible alert-light d-flex flex-column align-items-center form-size m-2">
               <div class="row w-100">
                <div class="col-1">
                    <h5 class="id-item">{{ el.id }}</h5>
                </div>
                <div class="col-11">
                    <p> Дата создания: {{ el.date }} </p>
                    <p> Организация: {{ el.organization }}</p>
                </div>
               </div>
                
                {% if contract.sum %}
                    <a href="/pay/{{ el.id }}" class="btn bg-edit w-50 mt-3">Провести оплату</a>
                {% else %}
                    <a href="#" class="btn btn-success w-50 mt-3">Оплата проведена</a>
                {% endif %}
            </div>
    {% endfor %}
{% else %}
    <p>Нет ни одного договора</p>
{% endif %}
</div>
{% endblock %}